@font-face {
  font-family: 'Makinas-4-Square';
  src: url('Makinas-4-Square.woff') format('woff'),
       url('Makinas-4-Square.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

